// GENERAL PURPOSE:

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*

Breakpoints:
   0px -  600px     Phone
 600px -  900px     Tablet (portrait)
 900px - 1200px     Tablet (landscape)
1200px - 1800px     Is where normal styles apply
1800px - + px       Bigger screens


**** "em" is the BEST unit for media queries ****
// 1em = 16px
//  600 / 16 = 37.5em
//  900 / 16 = 56.25em
// 1200 / 16 = 75em
// 1800 / 16 = 112.5em


ORDER to apply media queries:
1. Base & typography
2. Layout & grid
3. Page specific layout
4. Component specific layout


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 600px
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    // 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    // 1200px
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    // 1800px and up
    // note that here min is applied for 1800px or MORE!
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
