.card {
  /* FUNCTIONALITY: */

  perspective: 150rem; // this property has to do with the rotation (on hover) of the card and goes in the parent
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; // this height is also set for __side in order to maintain the dimensions when the elements collapse due to the absolute positioning. Here the clearfix does not apply

  &__side {
    height: 52rem;
    transition: all 1s ease;
    position: absolute; // this will make the cards overlap. The parent needs to have a relative position ALWAYS!
    top: 0;
    left: 0;
    width: 100%; // make the card occupy the whole with of the column
    backface-visibility: hidden; // it basically hides the back part of an element
    border-radius: 3px;
    overflow: hidden; // set this because the border radius was not being shown properly
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(-180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  /* FRONT SIDE STYLING */
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% 85%,
      0 100%
    ); // to make it work across all main browsers
    clip-path: polygon(
      0 0,
      100% 0,
      100% 85%,
      0 100%
    ); // Clip-path will not work on internet explorer or edge
    border-radius: 3px 3px 0 0;

    &--1 {
      // In order for the background to blend with color a blend mode type must be defined (see parent)
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("../img/nat-5.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url("../img/nat-6.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url("../img/nat-7.jpg");
    }
  }

  &__heading {
    position: absolute; // this makes the heading sit on top of the background image. Top & Right must be defined
    text-align: right;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    top: 12rem;
    right: 2rem;
    width: 75%; // narrow the width in order to break the heading in two lines
  }

  &__heading-span {
    padding: 1rem 1.5rem; // with the width of the container plus this padding, the heading line breaks in two rows
    -webkit-box-decoration-break: clone; // when the line breaks, we need to treat each broken block as a separate entity. For that we use box-decoration-break (requires -webkit prefix)

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; // to center a block element inside another block element

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  /* BACK SIDE STYLING */
  &__cta {
    position: absolute;
    top: 50%; // in relation to the parent element
    left: 50%; // in relation to the parent element
    transform: translate(-50%, -50%); // In relation to the element itself
    width: 90%;
    text-align: center;
  }

  &__price-box {
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}
